<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Facebook" version="7.0.6" targetFramework="net35" />
  <package id="Google.Apis.Auth" version="1.34.0" targetFramework="net461" />
  <package id="Google.Apis.Oauth2.v2" version="1.34.0.1134" targetFramework="net461" />
  <package id="Google.Apis.People.v1" version="1.25.0.830" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
</packages>